<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="allTests">
        <packages>
            <package name="pages.panel_page_tests"/>
            <package name="pages.qa_for_study_space_page_tests"/>
        </packages>
    </test>

    <test name="PanelPageTest">
        <packages>
            <package name="pages.panel_page_tests"/>
        </packages>
    </test>
    <test name="QaForStudySpacePageTest">
        <packages>
            <package name="pages.qa_for_study_space_page_tests"/>
        </packages>
    </test>

</suite>