<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hillel web tests" parallel="methods" verbose="1">
    <test name="All web tests" >
        <classes>
            <class name="unit.UtilTest"></class>
            <class name="unit.InstructionNameHelperTest"></class>
            <class name="pages.panel_page_tests.PanelGaragePageTest"></class>
            <class name="pages.panel_page_tests.PanelInstructionsPageTest"></class>
            <class name="pages.qa_for_study_space_page_tests.QaForStudySpacePageTest"></class>
        </classes>
    </test>
</suite>