target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
allure-results
/allure-report/
/build/reports/
web-hillel-tests/logs/
/build/downloads/
/build/files/
build
test-result
*/src/test/java/selenoid/docker/cm

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
encodings.xml
misc.xml
vcs.xml
.idea/

### Mac OS ###
.DS_Store